
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>skinAI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link rel="stylesheet" href="../Styling/dos-donts-desc.css">
</head>
<body>
	
<div class="wrapper">
	<div class="navbar">
		<div class="inner_navbar">
			<div class="logo">
				<a href="#">skin <span>AI</span></a>
			</div>
			<div class="menu">
				<ul>
					<li><a href="#" class="active">Home</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">About</a></li> 
					<li><a href="#">Contact</a></li>
					<li><a href="#">About Us</a></li>
				</ul>
			</div>
		</div>
		<div class="hamburger">
			<i class="fas fa-bars"></i>
		</div>
	</div>
</div>

<script>
	var hamburger = document.querySelector(".hamburger");
	var menu = document.querySelector(".menu");

	hamburger.addEventListener("click", function(){
		menu.classList.toggle("active");
	})
</script>


  
  <body>
    <div class="container">

      
      <img src="../Styling/IMAGES/rosacea.jpg" alt="Rosacea"/>

      

      <div class="disease-description">
	<h1 class="description-title">Description</h1>
	<p class="description-deets">
	  Rosacea is a chronic inflammatory skin condition that usually affects the face. People may mistake rosacea for acne, eczema, or an allergic skin reaction. The main symptoms of rosacea are facial flushing, irritated skin, and pimples. Other symptoms include blushing easily and eye problems
	</p>
      </div>


      <div class="disease-dos">
	<h1 class="dos-title">Dos</h1>
	<p class="dos-deets">
	  Do apply skincare products rich in antioxidants and organic oils
	  <br>
	  Do wear sunscreen
	  <br>
	  Do eat a colourful diet
	  <br>
	  Do eat all the good bacteria
	  <br>
	  Do try to stay calm
	</p>
      </div>

    
      <div class="disease-donts">
	<h1 class="donts-title">Donts</h1>
	<p class="donts-deets">
	  Don’t put chemicals on or next to your skin
	  <br>
	  Don’t eat foods that aggravate your rosacea
	  <br>
	  Don’t get too hot or cold
	  <br>
	</p>
      </div>
      
    </div>
    
	  
<footer class="footer-distributed">

	<div class="footer-left">
		<h3>skin  <span>AI</span></h3>

		<p class="footer-links">
			<a href="#">Home</a>
			|
			
			<a href="#">Contact</a>
		</p>

		<p class="footer-company-name">skinAI</p>
	</div>

	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			  <p>
				  	<span> 
				  FR CONCEICAO INSTITUTE OF TECHNOLOGY, VASHI
					 </span> 
				NAVI MUMBAI - 400710</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+91-9820835824</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:rrcg2000@gmail.com">Mail us!</a></p>
		</div>
	</div>
	<div class="footer-right">
		 <p class="footer-company-about">
			<span>ABOUT THE APPLICATION</span>
			Our application aims at detecting skin diseases quickly and easily!</p> 
		
	</div>
</footer>
    
  </body>
</html>

